<!DOCTYPE html>
head
  meta(charset="UTF-8")
  meta(name="veiwport", content="width=device-width, initial-scale=1.0")
  title Our Website
  //link(rel="stylesheet", href="css/owl.theme.default.css")
  link(rel="stylesheet", href="css/main.css")
  script(src="js/libs.min.js")
  script(src="js/main.js")
html(lang="en")
  body
    .wrapper
      header.header
        h1 Image view
      main.main
        aside.aside
          h2 FILTER BY
          .size
            h3.h Size
            p Large
            p Medium
            p Small
          .author
            h3.h Author
            p Author







